.container{
    background-color:#fff;
    border-radius: 20px;
    max-width: 1200px;
    min-height: 520px;
    height: auto;
}
.block{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}